@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


body{
  background-color: #382828;
  margin: 0;
}
.dongle-regular {
  font-family: 'Dongle', serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

.gabarito-header {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.gabarito-regular {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}