@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


body{
  background-color: #382828;
  margin: 0;
}
.dongle-regular {
  font-family: 'Dongle', serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}
.dongle-footer {
  font-family: 'Dongle', serif;
  font-weight:lighter;
  font-style: normal;
  font-size: x-large;
}
.dongle-bold {
  font-family: 'Dongle', serif;
  font-weight:bolder;
  font-style: normal;
  font-size: xx-large;
}

.gabarito-header {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.gabarito-regular {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


video {
  box-shadow: 35px -30px 0px 0px #E0C9AC;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease 0.3s;
}

.flip-card {
  width: 16rem;
  height: 20rem;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background-color: #E0C9AC;
  color: #382828;
}

.flip-card-back {
  background-color: #382828;
  color: #E0C9AC;
  transform: rotateY(180deg);
}

.flip-card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.partner-card {
    width: 16rem;
    height: 20rem;
    perspective: 1000px;
    margin: auto;
  }
  .partner-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .partner-card-front {
    background-color: #E0C9AC;
    color: #382828;
  }

  
.slick-prev, .slick-next {
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust centering */
  z-index: 2;
}

.slick-dots {
  transform: translateY(-60px); /* Move closer to the cards */
}


.slick-dots li.slick-active button:before {
  color: #3E4A28; 
  font-size: 10px;
}


@media screen and (min-width:1050px) {
  .card-hover:hover {
    transform: scale(1.15);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}
@media screen and (max-width:1050px) {
  .flip-card-front,
.flip-card-back {
  cursor:pointer;
}
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
@media screen and (max-width:850px) {
  .gabarito-small {
    font-family: 'Gabarito', sans-serif;
    font-size:larger;
    font-weight:bold;
    font-style: normal;
  }
  .dongle-small {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: bold;
    font-size: larger;
  }
}

@media screen and (max-width: 800px) {
  .tablet\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .tablet\:w-2\/3 {
    width: 66.666667%;
  }

  .tablet\:text-left {
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  video {
    box-shadow: 25px -30px 0px 0px #E0C9AC;
  }
}

@media screen and (max-width: 400px) {
  video {
    box-shadow: 15px -30px 0px 0px #E0C9AC;
  }
  .gabarito-regular {
    font-family: 'Gabarito', sans-serif;
    font-size: large;
    font-weight: normal;
    font-style: normal;
  }
  .dongle-regular {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  }
}



