@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


body{
  background-color: #382828;
  margin: 0;
}
.dongle-regular {
  font-family: 'Dongle', serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}
.dongle-footer {
  font-family: 'Dongle', serif;
  font-weight:lighter;
  font-style: normal;
  font-size: x-large;
}
.dongle-bold {
  font-family: 'Dongle', serif;
  font-weight:bolder;
  font-style: normal;
  font-size: xx-large;
}
.gabarito-bigger {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
}
.gabarito-big {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-large;
}

.gabarito-header {
  font-family: 'Gabarito', sans-serif;
  font-weight: bold;
  font-style: normal;
}
.gabarito-regular {
  font-family: 'Gabarito', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


video {
  box-shadow: 35px -30px 0px 0px #E0C9AC;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease 0.3s;
}
.border-green{
  border-width: 30px;
  border-radius: 50px;
  padding: 80px;
}
.flip-card {
  width: 15rem;
  height: 21rem;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  color: #382828;
}

.flip-card-back {
  color: #E0C9AC;
  transform: rotateY(180deg);
}

.flip-card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.partner-card {
    width: 16rem;
    height: 20rem;
    perspective: 1000px;
    margin: auto;
  }
  .partner-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .partner-card-front {
    background-color: #E0C9AC;
    color: #382828;
  }
.partner-card {
    width: 16rem;
    height: 20rem;
    perspective: 1000px;
    margin: auto;
  }
  .partner-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .partner-card-front {
    background-color: #E0C9AC;
    color: #382828;
  }
  .customer-card {
    width: 18rem; 
    height: 18rem; 
    margin: auto;
    background-color: #FFFFFF; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .customer-card-front {
    padding: 1rem; 
    font-family: 'Dongle', sans-serif; 
    font-size: x-large; 
    text-align: center; 
    color: #333333; 
    line-height: 1.5; 
    white-space: normal; 
  }
  
  
  .customer-card-front {
    background-color: #fff;
    color: #382828;
  }
  
.slick-prev, .slick-next {
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust centering */
  z-index: 2;
}

.slick-dots {
  transform: translateY(-60px); /* Move closer to the cards */
}


.slick-dots li.slick-active button:before {
  color: #3E4A28; 
  font-size: 10px;
}

.divider {
  display: flex;
  align-items: center;
  color: #FAF5F0;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 2px;
  background-color: #FAF5F0;
  margin:1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius:100px;
}
.card-container {
  transform: scale(1); /* Default size */
  transition: transform 0.3s ease-in-out; /* Smooth hover animation */
  overflow: hidden; /* Prevent content from overflowing */
  border-radius: 16px; /* Rounded corners for the card */
}

.card-container:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}




@media screen and (min-width:1050px) {
  .card-hover:hover {
    transform: scale(1.15);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .dongle-regular {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
  }
}
@media screen and (min-width: 1250px) {
  .dongle-regular {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
  }
  .dongle-footer {
    font-family: 'Dongle', serif;
    font-weight:lighter;
    font-style: normal;
    font-size: xx-large;
  }
}
@media screen and (min-width: 2000px) {
  .customer-card {
    width: 22rem; 
    height: 22rem; 
    margin: auto;
    background-color: #FFFFFF; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  .flip-card-front,
  .flip-card-back {
  cursor:pointer;
}
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .dongle-regular {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
}
@media screen and(max-width:2000px) {
  .customer-card {
    width: 22rem; 
    height: 22rem; 
    margin: auto;
    background-color: #FFFFFF; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
}
@media screen and (max-width:2560px) {
  .flip-card-front,
.flip-card-back {
  cursor:pointer;
}
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
@media screen and (max-width:850px) {
  .gabarito-small {
    font-family: 'Gabarito', sans-serif;
    font-size:large;
    font-weight:bold;
    font-style: large;
  }
  .dongle-small {
    font-family: 'Dongle', serif;
    font-weight: 400;
    font-style: bold;
    font-size: larger;
  }
}

@media screen and (max-width: 800px) {
  .tablet\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .tablet\:w-2\/3 {
    width: 66.666667%;
  }

  .tablet\:text-left {
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  video {
    box-shadow: 25px -30px 0px 0px #E0C9AC;
  }
  .divider {
    display: flex;
    align-items: center;
    color: #FAF5F0;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 2px;
    background-color: #FAF5F0;
    margin:1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius:100px;
  }
  .border-green{
    border-width: 20px;
    border-radius: 40px;
    padding: 40px;
  }
  
}

@media screen and (max-width: 400px) {
  video {
    box-shadow: 15px -30px 0px 0px #E0C9AC;
  }
  .gabarito-regular {
    font-family: 'Gabarito', sans-serif;
    font-size: larger;
    font-weight: normal;
    font-style: normal;
  }

  .dongle-bold {
    font-family: 'Dongle', serif;
    font-weight:bolder;
    font-style: normal;
    font-size: 36px;
  }
  .gabarito-bigger {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
  }
  .gabarito-big {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
  }
  
  .gabarito-regular {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  .gabarito-small {
    font-family: 'Gabarito', sans-serif;
    font-size:xx-large;
    font-weight:bold;
    font-style: normal;
  }
  .flip-card {
    width: 13rem;
    height: 19rem;
    perspective: 1000px;
    margin: auto;
  }
  .partner-card {
    width: 17rem;
    height: 20rem;
    perspective: 1000px;
    margin: auto;
  }
  .customer-card {
    width: 12rem; 
    height: 12rem; 
    margin: auto;
    background-color: #FFFFFF; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    display: flex; 
    align-items: center;
    justify-content: center;
  }

}



